.All_page{
    text-align: center;
   
}
ul {
    list-style-type: initial;
    margin: 0 auto; /* top-bottom 0, left-right auto */
    padding-left: 0;
    max-width: 400px; /* or any width you want */
    text-align: left;
}
p{
     padding-left: 0;
    margin-left: 0;
}
.URLs{
    margin-left:-300px;
}
.body{
    margin-left: -300 px;
}

.images{
   
   margin-left: -400px;
}